<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="apple-touch-icon" sizes="60x60" href="<%= require('./apple-touch-icon.png').default %>">
  <link rel="icon" type="image/png" sizes="32x32" href="<%= require('./favicon-32x32.png').default %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= require('./favicon-16x16.png').default %>">
  <link rel="icon" type="image/png" sizes="16x16" href="<%= require('./android-chrome-48x48.png').default %>">
  <link rel="manifest" href="<%= require('./site.webmanifest').default %>">
  <meta name="apple-mobile-web-app-title" content="<%= htmlWebpackPlugin.options.title %>">
  <meta name="application-name" content="<%= htmlWebpackPlugin.options.title %>">
  <meta name="msapplication-TileColor" content="#da532c">
  <meta name="theme-color" content="#ffffff">
  <title><%= htmlWebpackPlugin.options.title %></title>


  <link
    rel="stylesheet"
    href="https://pro.fontawesome.com/releases/v5.14.0/css/solid.css"
    integrity="sha384-qJugmlTDyF5CNuv00JB+04BCmCVi5C2ZZhsIVMX0wxWr7U3ZuOsmO+nOLtoTxeWG"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://pro.fontawesome.com/releases/v5.14.0/css/regular.css"
    integrity="sha384-izRgjQadEFrlAsdFZjlQ4v6Ff2E0R02RwYZwdL8lrt398rQmLNOFYYNk9qQoqjDP"
    crossorigin="anonymous"
  />
  <link
    rel="stylesheet"
    href="https://pro.fontawesome.com/releases/v5.14.0/css/fontawesome.css"
    integrity="sha384-CAxg0L30Vie2vI3AniQ4UA+pSswoJmr/MK5Dl5DP9YlE1nzJn4z5updw5S3i/Nsn"
    crossorigin="anonymous"
  />

  <link
    rel="stylesheet"
    href="https://pro.fontawesome.com/releases/v5.14.0/css/light.css"
    integrity="sha384-LmKkPHDqucxgmrtLKWrMGZc5nnHQYAdFkSzMtl1OcvTZn4pebmVziSZPtp27MA6u"
    crossorigin="anonymous"
  />

</head>
<body>
  <noscript>You need to enable JavaScript to run this app.</noscript>
  <div id="app"></div>
</body>
</html>
